.title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 40px;
   letter-spacing: -0.02em;
   color: #767E94 !important;
   span {
      font-size: 12px !important;
   }
}