.title {
   margin-top: 64px !important;
   font-family: 'Poppins' !important;;
   font-style: normal !important;;
   font-weight: 600 !important;;
   font-size: 64px !important;;
   line-height: 80px !important;;
   letter-spacing: -0.02em !important;;
   color: #EBEEF5 !important;
}
.title__search {
   background: transparent;
   width: 344px;
   height: 64px;
   background: transparent !important;
   border: 1px solid #323B54;
   border-radius: 12px;
   padding-left: 56px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #475069;
   margin-left: 108px;
}
.empty {
   width: max-content;
   margin: 0 auto;
   width: 600px;
   img {
      border-radius: 20px;
      width: 100%;
   }
}