.title {
   margin-top: 64px !important;
   font-family: 'Poppins' !important;;
   font-style: normal !important;;
   font-weight: 600 !important;;
   font-size: 64px !important;;
   line-height: 80px !important;;
   letter-spacing: -0.02em !important;;
   color: #767E94 !important;
}

.mainList {
   padding: 30px 0;
   row-gap: 10px;
   &__empty {
      margin: 0 auto;
   }
}

.layout {
   width: 1145px;
   margin: 0 auto;
}