.header {
   background: #151931;
   backdrop-filter: blur(40px);
   &__wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   &__links {
      a {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 600;
         font-size: 14px;
         line-height: 24px;
         letter-spacing: 0.02em;
         color: #A8AEBF;
         margin-right: 48px;
         transition: 0.3s;
         &:hover {
            font-size: 16px;
         }
      }
   }
   &__navLink  {
      border-bottom: 1px solid  #7B6EF6;
      color: #7B6EF6 !important
   }
   &__noty {
      position: absolute;
      top: -15px !important;
      right: -15px !important;
      border-radius: 100%;
      background:  #7B6EF6;
      color: white !important;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      font-size: 10px !important;
   }
}

