.header {
   height: 480px !important;
   background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%) !important;
   border-radius: 40px !important;
   position: relative;
   img {
      width: 100% !important;
      height: 480px !important;
      overflow: hidden !important;
      object-fit: cover !important;
      border-radius: 40px !important;
   }
   &__footer {
      width: 560px;
      height: 144px;
      background: rgba(32, 40, 62, 0.8);
      backdrop-filter: blur(24px);
      border-radius: 24px;
      position: absolute;
      z-index: 15;
      bottom: -70px;
      left: 80px;
      display: flex;
      padding-top: 55px;
      align-items: center;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: space-between;
      &__top {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 16px;
         display: flex;
         align-items: center;
         color: #BEB7FB;
      }
      &__bottom {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 600;
         font-size: 32px;
         line-height: 40px; 
         display: flex;
         align-items: center;
         letter-spacing: -0.02em;
         color: #EBEEF5;
      }
   }
}

.col {
   padding: 40px 0 40px 0;
   background: transparent;
}

.movie__poster {
   margin-top: 152px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   border-radius: 24px;
   column-gap: 80px;
   padding: 0 80px;
   &__about {
      margin-top: 28px;
      display: flex;
      width: 230px;
      justify-content: space-between;
      &__raiting {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         color: #FFAD49;
      }
      &__fav, &__watch {
         cursor: pointer;
         font-size: 16px;
      }
     div {
      background: rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(8px);
      border-radius: 8px;
      width: max-content;
      padding: 4px 8px;
     }
   }
   img {
      width: 480px;
      height: 720px;
      border-radius: 24px;
   }
   &__title {
      font-family: 'Poppins' !important;
      font-style: normal !important;
      font-weight: 700 !important;
      font-size: 24px !important;
      line-height: 32px !important;
      letter-spacing: -0.015em !important;
      color: #EBEEF5 !important;
      margin-bottom: 24px !important;
   }
   &__subtitle {
      font-family: 'Poppins' !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 16px !important; 
      line-height: 24px !important;
      color: #767E94 !important;
      margin-bottom: 8px !important;
      margin-top: 24px !important;
   }
   &__content {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #C3C8D4;
   }
   &__desc {
      font-family: 'Poppins' !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 20px !important;
      line-height: 32px !important;
      color: #8E95A9 !important;
      width: 435px;
      text-align: justify;
   }
   &__genres {
      display: flex;
      width: max-content;
      flex-wrap: wrap;
      max-width: 400px;
      main {
         margin-right: 8px;
      }
   }
}
.layout {
   width: 1200px;
   margin: 0 auto;
}

@media(max-width: 1200px) {
   .layout {
      width: 992px;
   }
}


@media(max-width: 992px) {
   .layout {
      width: 768px;
   }
}


@media(max-width: 768px) {
   .layout {
      width: 576px;
   }
}